/* no flex zone */
@import 'jeet/index';

$accent-cyan: rgb(0, 255, 255);
$accent-red: rgb(255, 0, 0);

$glitch-cyan: rgba(0,255,255,0.6);
$glitch-red: rgba(255,0,0,0.6);

.red {
    color: #CC4444;
}

.blue {
    color: #4444CC;
}

@keyframes glitch {
    0%   { text-shadow: 3px 1px $glitch-red, -3px -1px $glitch-cyan; }
    10% { text-shadow: 1px 1px $glitch-red, -5px -1px $glitch-cyan; }
    30% { text-shadow: 0px 0px $glitch-red, -0px -0px $glitch-cyan; }
    40% { text-shadow: 3px 1px $glitch-red, -3px -1px $glitch-cyan; }
    50% { text-shadow: 1px 1px $glitch-red, -5px -1px $glitch-cyan; }
    65% { text-shadow: 7px 2px $glitch-red, 1px -0px $glitch-cyan; }
    68% { text-shadow: 6px 4px $glitch-red, 0px 2px $glitch-cyan; }
    75% { text-shadow: 2px -2px $glitch-red, -4px -4px $glitch-cyan; }
    100% { text-shadow: 3px 1px $glitch-red, -3px -1px $glitch-cyan; }
}

.preloader {
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    margin: 0;
    z-index: 999;

    color: #fff;

    transition: opacity 1s;

    img {
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
    }

    &.loaded {
        opacity: 0;
    }

    &.hidden {
        display: none;
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    overflow-x: hidden;
    font: { family: 'Open Sans'; weight: 300; }
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 11rem;
    color: #fff;
}

h2 {
    font-size: 4rem;   
    font-weight: 300; 
    text-align: center;
}

h3 {
    margin: 1.2rem 0 0.6rem 0; 
    font-size: 3rem;
    font-weight: 300;  
}

h4 {
	font: { size: 1.6rem; family: 'Lora'; style: italic; weight: 400; }
    letter-spacing: .5px;
}

p {
    font-size: 1.6rem;
}

a {
    font-size: 1.4rem;
    text-decoration: none;
}

.button {
    width: 147.5px;
	display: inline-block;
    padding: 10px 15px;
    margin: 2px;

    color: #000;
    background-color: rgba(255, 255, 255, 1);

    text-transform: uppercase;
    font: { weight: 400; size: 1.8rem; }

    transition: all 0.2s ease-in-out;

    // border: 3px solid $accent-cyan;
    
    &:hover {
        background-color: rgba(255, 255, 255, 0);
        color: #fff;
    }
}

.arrow {
    background: none;
    outline: none;
    border: none;

    &::before, &::after {
        position: relative;
        display: block;
        content: "";
        
        margin: 0 auto;
        height: 1px;
        width: 20px;

        transition: background-color .1s;

        background-color: #fff;
    }

    &::before {
        margin-top: 40px;
        transform: rotate(45deg);
        left: -14px;
    }

    &::after {
        transform: rotate(-45deg);
        top: -1px;
    }

    &.black {
    	&::before, &::after { background-color: #000; }
    }
}

nav {
    position: fixed;
    z-index: 2;
    bottom: 0;
    width: 100vw;

    transform: translate(0, 0);

    text-align: center;

    transition: transform 0.6s;

    &.closed {
        transform: translate(0, calc(100% - 60px));

        .arrow {
            transform: translate(0, 0);
            opacity: 1;
        }
    }

    span {
        display: block;
        height: 60px;
    }

    .arrow {
        transition: opacity 0.6s, transform 0.6s;

        opacity: 0;
        transform: translate(0, -40px);
    }

    ul { list-style: none; padding: 0; margin: 0; }

    li {
        background-color: #fff;
        width: 100%;
        height: 50px;
        line-height: 50px;

        transition: all .2s; 

        cursor: pointer;

        &.hidden { display: none; }

        &:hover {
            background-color: #eee;
        }
    }

    a {
        display: block;
        width: 100%;
        height: 100%;

        font: { size: 1.5rem; weight: 300; }
        letter-spacing: 1px;
        text-transform: uppercase;
    }

}

section.logo {
    background-color: #000; 
    height: 100vh;

    img {
    	position: absolute;
    	top: 50%;

    	transform: translate(0, -50%);

    	width: 100%;
    } 
}

section.philosophy {
	background-color: #f3f3f3;

	.about-us { 
        padding: 120px 20px;
		text-align: center; 

        background: -webkit-linear-gradient(#000, #131320); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#000, #131320); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#000, #131320); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#000, #131320); /* Standard syntax */
        
        color: #fafafa;



        p:first-of-type {
            margin: 4rem 0; 
        }
	}

    @media only screen and (max-width: 650px) {
        .about-us {
            padding: 120px 40px;
        }

        br {
            display: none;
        }
    }

	.keywords {
		@include cf();
		@include center(1200px);
		padding: 100px 0;
		
        color: #111;
	}

    .process {
    	@include col(1/3, $cycle: 3);

        text-align: center;

        i {
            // transition: all 0.5s ease-in-out;
            text-shadow: none;
            font-size: 6rem;
        }

        &:hover {
            i {
                // text-shadow: 3px 1px rgba(255,0,0,0.6), -3px -1px rgba(0,255,255,0.6);
                -webkit-animation: glitch 0.35s; /* Safari 4+ */
                -moz-animation:    glitch 0.35s; /* Fx 5+ */
                -o-animation:      glitch 0.35s; /* Opera 12+ */
                animation:         glitch 0.35s; /* IE 10+, Fx 29+ */
            }
        }

        p {
	    	margin: 0 auto;
	    	padding: 0 30px;
	    }
    }

    @media only screen and (max-width: 700px) {
    	.process {
			@include stack();

			margin-bottom: 60px;

			p {
				max-width: 350px;
			}
		}
	}

    .desktop {
        &::after {
            content: "\f108";
            position: absolute;
            display: none;
            left: -25px;
        }
    }      

    .code {
        &::after {
            content: "\f121";
            position: absolute;
            display: none;
            left: -25px;
        }
    }

    .rocket {
        &::after {
            content: "\f135";
            position: absolute;
            display: none;
            left: -25px;
        }
    }
}

section.portfolio {
    border-top: 1px solid #ccc;
    // border-bottom: 1px solid #ccc;
    background-color: #e3e3e3;
    text-align: center;
    // padding-bottom: 140px;

    header {
        padding: 40px 0;
    }

    h2 {
        text-transform: uppercase;
    }

    .grid {
    	@include cf();
        margin: 0;
        padding: 0;
        list-style: none;

        li {
        	@include span(1/3);

        	@media only screen and (max-width: 1100px) {
        		@include span(1/2);
        	}

        	@media only screen and (max-width: 800px) {
        		@include stack();

                &:nth-of-type(3) ~ li {
                    display: none;
                }
        	}
        }

        img {
        	width: 100%;
        }
    }
}

section.crew {
    text-align: center;

	h2 { 
		margin-bottom: 80px; 
        text-transform: uppercase;
	}

	h3 {
		text-transform: uppercase;
		margin: 0;
		margin-left: -2px;
	}

    .content {
    	@include cf();
    	@include center(1200px);

    	padding: 80px 0 120px;
    }   

    article {
        @include column(1/2, $cycle: 2, $gutter: 10);

        > div {
        	text-align: left;
        	display: inline-block;
        	width: 300px;
        }

        span {
            color: #666;
        }
    }

    img {
    	margin: -100px 20px 0 0;
        width: 175px;
        border-radius: 50%;
    } 

    .noah {
    	h3, a {
    		color: #4444CC;
    	}
    }

    .lawrence {
    	h3, a {
    		color: #CC4444;
    	}
    }

    .button {
    	margin: 80px auto 0;
    }

    @media only screen and (max-width: 1150px) {
    	.content {
    		@include center(1000px);
    	}

    	img { 
    		margin: 0px auto 20px; 
    	}

    	article > div { 
    		text-align: center; 
    		display: block;
    		width: 100%;
    	}
    }

    @media only screen and (max-width: 700px) {
    	article {
        	@include stack();
        	margin-bottom: 100px;
        }
    }
}

footer.contact {
    position: relative;
	background-color: #000;
	padding: 130px 0;

    color: #000;

    text-align: center;

    div {
        color: #bbb;
        margin-top: 50px;
    }
}

figure {
    margin: 0;
    position: relative;
    min-width: 320px;
    overflow: hidden;
    background: #3085a3;
    text-align: center;
    cursor: pointer;

    img {
        position: relative;
        display: block;
        height: auto;
        width: 100%;
        opacity: 0.8;
    }

    figcaption {
        color: #000;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    figcaption::before,
    figcaption::after {
        pointer-events: none;
    }

    figcaption,
    figcaption > a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    /* Anchor will cover the whole item by default */
    figcaption > a {
        z-index: 1;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;
    }

    h5 {
        word-spacing: -0.15em;
        font-size: 4rem;
        font-weight: 300;
        margin: 0;
        text-transform: uppercase;
    }

    p {
        letter-spacing: 1px;
        margin: 0;
        padding: 0 20px;
        text-align: center;
        box-sizing: border-box;
        width: 100%;
    }
}

.effect-sadie { 
    figcaption::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 75%);
        content: '';
        opacity: 0;
        transform: translate3d(0,50%,0);
    }

    h5 {
        position: absolute;
        top: 45%;
        left: 0;
        width: 100%;

        opacity: 0;

        transition: transform 0.35s, color 0.35s, opacity 0.35s;
        transform: translate3d(0,-50%,0);
    }

    figcaption::before, p {
        transition: opacity 0.35s, transform 0.35s;
    }

    p {
        position: absolute;
        bottom: 0;
        left: 0;
        padding-bottom: 3rem ;
        // min-width: 380px;
        opacity: 0;
        transform: translate3d(0,10px,0);
    }

    &:hover h5 {
        // color: #fff;
        opacity: 1;
        transform: translate3d(0,-50%,0) translate3d(0,-10px,0);
    }

    &:hover figcaption::before ,
    &:hover p {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	nav {
		display: none;
	}
}
